/*? -------------------- GLOBAL -------------------- */

* {
  padding: 0;
  margin: 0;
}

/** -------------------- FONTS -------------------- */

/* font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif; */

/** -------------------- COLORS -------------------- */



/*! -------------------- Section 1 -------------------- */


/*? -------------------- Section 2 -------------------- */


/*todo -------------------- Section 3 -------------------- */



